$primary-font: 'Equinox', serif;
$display-font: 'Fraunces', serif;
$primary-background-color:#fff2d9;
$secondary-background-color: #80AEBD;
$accent-color: #4C5766;
$accent-color2: #d13d25;
$accent-color3: #FFD700;
$nav-color:#ff6a3a;
$text-color: #7F7F7F;
$text-color2:#FFF2D9;
$image-bg-color:#ffd380;
$icon-color: #D13D25;
$mobile: 414px;
